* {

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --main-color: ;
    --main-transition: 0.5s;
    --main-padding-top: ;
    --main-padding-bottom: ;
    --section-background: ;
}

html {
    scroll-behavior: smooth;


}

body {
    background-color: rgb(248, 246, 246);
    height: 100vh;

}

/* Small */

@media (min-width: 768px) {}

/* Medium */

@media (min-width: 992px) {}

/* Large */

@media (min-width: 1200px) {}

/* End Global Rules */
/* start header */
.header ul {
    display: flex;

}

.header ul li {
    text-decoration: none;
    list-style: none;
    margin-left: 10px
}

.container1 {
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color: #605f5f82;
    height: 35px;
    border-radius: 15px;


}

#serch {
    color: gray;
    width: 11px;
    height: 14px;
    border: 1px solid black;
    padding: 10px 25px 18px 5px;
    text-align: center;
    position: relative;
    left: -4px;
    top: 7px;
    line-height: 14px;
    font-size: 23px;
    cursor: pointer;
}

.container1 ul li a {
    list-style: none;
    text-decoration: none;
    color: black;
    font-size: 12px;
    position: relative;
    bottom: 10px;
}

.container1 .rightmenu {
    color: black;
    font-size: 11px;
    position: relative;
    bottom: 5px;
    right: 19px
}

.container1 .rightmenu li {
    width: fit-content;
    background-color: white;
    position: relative;
    bottom: -3px;
    height: 15px;
    padding: 3px 9px 17px;
}

.container1 .rightmenu li i {
    padding-left: 6px;
}


/* multi section */
.mainsection {
    display: flex;
    justify-content: space-between;
}

.multishop {
    width: fit-content;
    height: 18px;
    background: linear-gradient(to right, rgb(98, 94, 94) 0%, rgb(98, 94, 94) 50%, #edc13e 50%, #edc13e 100%);
    padding: 8px 12px 27px;
    margin: 10px;
    font-size: 20px;
    left: 16px;
}

.searchform input {
    width: 350px;
    height: 30px;
    margin-top: 12px;
}

.searchform input:focus {
    outline: none;
    border: 1px solid #edc13e;
}

.num {
    font-weight: bold;
}

#icons {}

.customerservice {
    margin-top: 10px;
    color: #797474;
    margin-right: 19px;
    font-size: 14px;
}

.customer {
    font-size: 13px
}

/* end multi section */


/* end header */


.container2 {
    background-color: rgb(98, 94, 94);
    display: flex;
    height: 54px;
    margin-top: -7px;
}



.logo {

    display: flex;
    justify-content: space-between;
    margin: 11px 94px;
    background-color: #edc13e;
    padding: 7px 57px;
    width: 20%;
    align-items: center;
    margin-left: 32px;
}

.logo span {
    margin-left: -20px;
}

header .container2 .nav .active {
    color: #edc13e;
}

header .container2 .nav li a:hover {
    color: #edc13e;
}

header .container2 .nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

header .container2 .nav ul li {
    color: white;
    display: inline;
    text-decoration: none;
    font-weight: bold;
    margin-left: 14px;
    line-height: 1.6;
    list-style: none;
}

.icon {
    color: #edc13e;
    position: relative;
    left: 450px;

    top: 8px;
    display: flex;
    justify-content: space-between;
}

.icon i {
    margin-left: 20px;
    margin-top: 10px;
}

.zero {
    border: 1px solid white;
    border-radius: 50%;
    position: relative;
    left: 10px;
    text-align: center;
    width: 20px;
    bottom: -9px;
    height: 21px;
    color: white;
}

/* end main section */
.imgs {

    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    padding: 30px;
    justify-content: center;
    margin-left: 80px;
    position: relative;

}

.colum {
    position: relative;
}

img {
    opacity: .75;
}


#left {
    width: 100%;
    height: 50%;
    margin-top: 15px;
    position: relative;
}

.colum #right {
    width: 80%;
    height: 23%;
    position: relative;
    margin-top: 16px;
    margin-left: 16px;

}

.textimgl {
    top: 136px;
    position: absolute;
    left: 360px;
    color: #aca4a4;
    font-size: 22px;
    font-weight: bold;
}

.btn4 {
    color: gray;
    padding: 4px;
    border: 1px solid #edc13e;
    background: #eebf17;
    cursor: pointer;

}

.textimgr {
    text-align: center;
    top: 45px;
    position: absolute;
    left: 49px;
    color: #9d9292;
    font-size: 29px;
    font-weight: bold;
}

.textimgr1 {
    text-align: center;
    top: 226px;
    position: absolute;
    left: 20px;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.container4 {
    display: flex;
    margin-left: 173px
}

.container4 .text {

    position: relative;
    top: -400px;
    background-color: white;
    margin-right: 174px;
    margin: 63px;
    padding: 17px;

}

#truck {
    color: #edc13e;
    width: 18px !important;
    height: 22px !important;
    margin-right: 8px;
}

.categories {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 27px;
    position: absolute;
    top: 786px;
    left: 25%;}

.categ {
    background-color: white;
    width: 168px;
    display: flex;
    padding: 6px;
    justify-content: space-between;
    margin-left: 0;
}


img {
    width: 50px;
    height: 50px;
}

.catnam{
    font-size: 35px;
    color: #edc13e;
    padding: 9px;
    margin-left: 57px;
    position: absolute;
    bottom: -97px;
    left: 70px;
    
}
